@font-face {
    font-family: "socialico";
    src: url("fonts/Socialico/Socialico.eot");
    src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg");
}
@font-face {
    font-family: 'Century Gothic';
    src: url('CenturyGothic-Bold.eot');
    src: url('CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
        url('CenturyGothic-Bold.woff2') format('woff2'),
        url('CenturyGothic-Bold.woff') format('woff'),
        url('CenturyGothic-Bold.ttf') format('truetype'),
        url('CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('CenturyGothic.eot');
    src: url('CenturyGothic.eot?#iefix') format('embedded-opentype'),
        url('CenturyGothic.woff2') format('woff2'),
        url('CenturyGothic.woff') format('woff'),
        url('CenturyGothic.ttf') format('truetype'),
        url('CenturyGothic.svg#CenturyGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}


.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 100%;min-width: 1200px;margin: 0 auto;text-align: center;font-family: "Century Gothic"}
a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
.row {max-width: 1495px;margin: 0 auto}

/*floats*/
.fl {float:left;}
.fr {float:right;}

/* grids */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }
.socialico{font-family: "socialico"}

/*button*/
.btn {font-size: 18px; font-weight: 700; color: #FFF; display: inline-block; padding: 20px 34px; background: #A92E1E;border-radius: 10px; border: 1px solid transparent; transition: all 0.5s ease;}
.btn:hover {background: #ddd; border-color: #ddd; color: #000;}
.btn2 {font-size: 18px; font-weight: 700; color: #FFF; display: inline-block; padding: 20px 34px; background: none; border-radius: 10px; border: 1px solid #fff; transition: all 0.5s ease;}
.btn2:hover {background: #ddd; border-color: #ddd; color: #000;}

/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;margin-bottom: -5px;}

/*cookie*/
.cc-animate.cc-revoke.cc-bottom{font-size: 14px; padding: 5px 10px; position: fixed; display: block!important; transform: none!important; bottom: 0!important; left: 20px!important;}

/*call to action*/
.destroy-on-load, .cta {display: none;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: .42857; margin-bottom: 20px;padding: 4px;transition: border 0.5s ease-in-out 0s;}
#content .thumbnail:hover {transform: scale(1.02);}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}

h1 {font-family: "Abril Fatface";font-size: 54px;font-weight: 400;color:#A92E1E;line-height: 66px}
h1 span {font-family: "Century Gothic"; font-weight: bold; font-size: 28px; color: #797979;}
/*header*/
#header {background: #FFFFFf;padding: 0}
#header nav a#pull {display: none}
#header nav ul {margin: 0;padding: 0}
#header nav ul li {display: inline-block;vertical-align: middle;}
#header nav ul li a {font-weight: 400; font-size: 15px; color: #444444;padding: 30px 0; margin: 0 0 0 40px}
#header nav ul li.active-menu a {color:#1FAA86;font-weight: bold;}
#header nav ul li a:hover {color:#1FAA86}
.hdLeft {text-align: left}
.hdRight {text-align: right}
.hdRightTop p{display: inline-block; vertical-align: middle;margin: 1em 0 1em 30px;}
.hdRightTop p.social{font-weight: 400;font-size: 40px; color: #777777;letter-spacing: 5px; margin: 18px 0;}
.hdRightTop p.social a:hover{color:#1FAA86}
.hdRightTop p{font-size: 13px; font-weight: bold;color: #1FAA86;}
.hdRightTop p span{font-size: 15px; color: #666666;}
.hdRightTop p:nth-of-type(3) span{font-size: 18px; color: #666666;}
/*banner*/
#banner {background: url(../images/common/bgBanner.jpg)no-repeat center top; background-size: cover; padding: 200px 0 150px}
#banner .container{border-radius: 280px;background: rgba(31,170,134,0.7); max-width: 562px; padding: 109px 0;text-align: center;margin: 0 0 0 auto;}
#banner .container p{font-size: 42px; font-weight: 700; color: #FFF;max-width: 508px; margin: auto;}
#banner .container a.btn{margin-top: 20px;}
/*content*/
/* welcome */
#welcome{padding: 80px 0 180px;background: url(../images/common/bgSection1.jpg)no-repeat left top; background-size: cover;}
#welcome .col-7{width:55.986622073578594%; text-align: left;}
#welcome h2{font-family: "Abril Fatface"; font-size: 43px; color: #FFFFFF;font-weight: 400}
#welcome h3{font-weight: 700; font-size: 28px; color: #FFFFFF;}
#welcome h4{font-size: 18px; color: #888888;}
#welcome .container{background: #FFFFFF; padding: 45px 70px 70px;margin-top: 40px;box-shadow: 0 0 30px -10px}
#welcome .container p{font-size: 15px; color: #535353; line-height: 30px; max-width: 700px;margin: 1em auto 1em 0;}
#welcome a.btn{margin: 20px 32% 0 0;}
#welcome a.phone{font-family: "Montserrat"; font-size: 32px; color: #1FAA85;}
#welcome a.phone img, #welcome a.phone span{display: inline-block; vertical-align: middle;}
#welcome a.phone span{margin: 0 0 0 10px;}
/* services */
#services{padding: 1px 0 60px;position: relative; z-index: 1; background: #F8F8F8;}
#services h2{font-weight: bold;font-size: 44px; color: #1FAA86;margin-bottom: 58px;margin-top: -79px;}
#services .row{max-width: 1685px}
#services dl{width: 23%;display: inline-block; vertical-align: top;text-align: left;}
#services dl dt img{max-width: 417px; width: 100%;}
#services dl dd h4{background: #666666;font-weight: bold; font-size: 28px; color: #FFFFFF; padding: 37px 0 44px 50px;margin-top: -5px;}
#services dl:hover dd h4{background: #A92E1E;}
#services dl dd{margin: 0;min-height: 427px; border: 1px solid #CCCCCC;border-top: none}
#services dl dd ul{padding: 0 0 0 70px;}
#services dl dd ul li{font-size: 16px; color: #535353;line-height: 28px}
#services .btn{margin-top: 37px;}
/* experience */
#experience{background: url(../images/common/bgExperience.jpg)no-repeat center top; background-size: cover; padding: 63px 0;}
.expLeft {text-align: left;}
.expLeft h2{font-family: "Abril Fatface"; font-weight: 400; font-size: 45px; color: #fff;}
.expLeft p{font-weight: 700; font-size: 24px; color: #ffffff;max-width: 575px; margin: 1em auto 1em 0;letter-spacing: 1.7px; line-height: 30px}
.expRight {text-align: right;}
.expRight dl{display: inline-block; vertical-align: top; width: 23%; margin-left: 9%;}
.expRight dl dd{margin: 15px auto;text-align: center;font-family: "Raleway"; font-weight: 600; font-size: 22px; color: #ffffff;}
/* works */
#works{background: #A92E1E url(../images/common/bgWorks.jpg)no-repeat left top; background-size: 71.57894736842105% 100%;}
.wkLeft{text-align: left;}
.wkLeft h2{background: #A92E1E; font-size: 73px; color: #ffffff;max-width: 327px; width: 100%;font-weight: 400; max-height: 207px; padding: 13.7px 29px;}
.wkLeft .container{margin-top: 35px;}
.wkLeft .container img{margin: 0 20px 20px 0;max-width: 210px; width: 22%;}
.wkRight{text-align: right;padding: 37px 0 45px;}
.wkRight .container{text-align: left;background: #1FAA86;padding: 26px 39px 44px;border-radius: 10px; box-shadow: 0 0 30px -10px}
.wkRight .container h1{font-family: "Century Gothic"; font-weight: 700; font-size: 65px; color: #FFFFFF;}
.wkRight .container form input[type="text"]{border-radius: 0; width: 100%; height:52px}
.wkRight .container form input[type="text"]::placeholder{font-family: "Century Gothic"; font-size: 14px; color:#AAAAAA}
.wkRight .container form textarea{border-radius: 0; width: 100%; height:104px}
.wkRight .container form textarea::placeholder{font-family: "Century Gothic"; font-size: 14px; color:#AAAAAA}
.wkRight .container form input[type="checkbox"], .wkRight .container form p.terms{display: inline-block; vertical-align: top;}
.wkRight .container form p.terms{text-align: left;width: 92%;font-family: "Lato"; font-size: 13px; color: #333333;margin: -2px 0 0 10px; line-height: 22px}
.wkRight .container form .btn{border-radius: 0; padding: 17.5px 52px;}
/*footer*/
#footer {background: #222222;}
.footLeft {text-align: left;padding: 38px 0 0;}
.footLeft h2{font-family: "Rajdhani"; font-weight: 700; font-size: 38px; color: #1FAA85;letter-spacing: 3px}
.footLeft p:nth-of-type(1){font-family: "Montserrat"; font-weight: 400; font-size: 15px; color: #1FAA86;margin: 30px auto;}
.footLeft p:nth-of-type(1) span{font-weight: 600; font-size: 25px; color: #FFFFFF;}
.footLeft p:nth-of-type(2){font-family: "Montserrat"; font-weight: 400; font-size: 15px; color: #1FAA86;margin: 30px auto;}
.footLeft p:nth-of-type(2) span{font-weight: 700; font-size: 18px; color: #FFFFFF;}
.footLeft ul {margin: 0;padding: 0}
.footLeft ul li {display: inline-block;vertical-align: middle;}
.footLeft ul li a {font-weight: 400; font-size: 14px; color: #FFFFFF;padding: 30px 0; margin: 0 20px 0 0}
.footLeft ul li.active-menu a {color:#1FAA86;font-weight: bold;}
.footLeft ul li a:hover {color:#1FAA86}
.footRight{padding: 56px 0 37px;}
.footRight img{max-width:316px; width: 100%;}
.footRight p{font-size: 40px; color: #FFFFFF; letter-spacing: 10px; margin: 40px auto 0;}
.footRight p a:hover{color: #1FAA86;}
#footer .silver, #footer .copy{font-family: "Montserrat"; font-weight: 500; font-size: 13px; color: #1FAA86;margin: 30px 0;}
#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px}


/*inner pages*/
.inner #content {min-height: 400px;padding: 40px 0}

/*privacy policy*/
.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}

@media screen and (max-width: 1440px){
  .row{max-width: 1200px!important; }
  #header nav ul li a{margin: 0 0 0 36px;}
  #welcome a.btn{margin: 20px 16% 0 0;}
  #services dl dd {min-height: 456px}
  #services dl dd h4 {padding: 37px 0 44px 0;text-align: center;}
  #services dl dd ul{padding: 0 0 0 30px;}
  .wkRight .container h1{font-size: 60px;}
  .wkRight .container form p.terms{width: 90%;}
}
/** Responsive
-------------------------------------------------------*/

/*
@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
}

@media screen and (max-width: 800px){
  [class*="col-"] {
        width: 100%;
  }
	#header {padding: 0}
	#header .row {width: 100%}
	#header nav {display:block; height: auto; }
  	#header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px;}
  	#header nav ul li { width: 100%;position: relative; }
  	#header nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}

	.cta{background: #035B96  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #013f9a ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}*/
